<p id="notice"><%= notice %></p>

<p>
  <b>Категория: </b>
  <%= link_to @recipe.cat.title, @recipe.cat %>
</p>

<p>
  <%= @recipe.title %>
</p>

<p>
  <%= image_tag(@recipe.image_path, :size => '450x350') %>
</p>

<p>
  <%= @recipe.description %>
</p>

<p>
  <b>Ингридиенты:</b>
  <%= @recipe.component %>
</p>

<p>
  <b>Приготовление:</b>
  <%= @recipe.recipe %>
</p>
<% if current_user %>
<%= link_to 'Редактировать', edit_recipe_path(@recipe) %>
<% end %>



